@import "../css/variables.css";


html{
  scroll-behavior: smooth;
}
/* Add near the top of the file */
* { box-sizing: border-box; }

/* STYLES */

body {
  background-color: var(--MainColors__Bg);
  color: var(--MainColors__BodyText);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  height: 100vh;
}


/* Dark Mode and Light Mode Variables */


[data-theme="dark"]{
  --MainColors__Bg: #282828;
  --MainColors__BodyText: #eee;
  --MainColors__Neutrals__DarkModeElementBg:#191919;
}

[data-theme="light"]{
  --MainColors__Bg: #fdfdfd;
  --MainColors__BodyText: #111111;
  --MainColors__Neutrals__DarkModeElementBg:#d9d9d9;
}









header{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var( --MainColors__Brand);
  color: var(--MainColors__HeadFootText);
  flex-wrap: wrap;
  background-image: url("../assets/images/topo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding:0;
  
}

.main-headings{
  text-align: left;
  padding: var(--L);
  padding-bottom: 0;
}


h1{
  font-family: var(--FontFamilyHeadings);
  font-size: var(--XXL);
  margin: 0;
}

h2, h3{
  font-family: var(--FontFamilyHeadings);
  font-size: var(--L);
}

h3{
  padding: var(--S);
  padding-left: var(--M);
  padding-right: var(--M);
  width: fit-content;
  background-color: var(--MainColors__Neutrals__DarkModeElementBg);
  border-radius: var(--XS);
}


/* Navigation Styles ------------------*/

nav{
  display: flex;
  padding: var(--XXL);
  margin-left: auto;
  width: fit-content;
  gap: var(--S);
  height: fit-content;
}

nav button{
  background-color: var(--MainColors__BrandAccent);
  color: var(--MainColors__HeadFootText);
  border: none;
  padding: var(--S);
  font-size: var(--M);
  font-family: var(--FontFamilyBody);
  cursor: pointer;
  border-radius: var(--XS);
}


a{
  text-decoration: none;
  color: var(--MainColors__HeadFootText)
}







main{
  margin-left: auto;
  margin-right: auto;
  padding: var(--L);
  max-width: 70%;
}


.page-line{
  border-top: 4px solid var(--MainColors__BrandAccent);
  margin-top: var(--XXXL);
  margin-bottom: var(--XXXL);
}


p{
  font-family: var(--FontFamilyBody);
  font-size: var(--M);
  line-height: 1.6;
  margin-bottom: var(--M);
}

#bio{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--L);
  align-items: flex-start;
}

#bio p{
  width: 90%;
  padding-right: var(--L);
  margin-top: var(--L);
}

.image-me{
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.image-me img{
  width: 300px;
  border-radius: var(--S);
}
/* Project Box Styles ------------------*/



*/
#projects{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--L);
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  
}

.project-box{
  display: contents;
}

.project-box div{
  background-color: var(--MainColors__Neutrals__DarkModeElementBg);
  padding: var(--S);
  border-radius: var(--XS);
  width: fit-content;
  margin-bottom: 0;
  font-size: var(--M);
  font-family: var(--FontFamilyBody)
  
}

.project-line{
  border-top: 3px dotted var(--MainColors__BrandAccent);
  flex-grow: 1;
  margin: 0;
  align-self: center;
  height: 1px;
}

#projects a {
  color: var(--MainColors__BodyText);
}




/* Footer Styles ------------------*/



footer{
  display: block;
  background-color: var( --MainColors__Brand);
  color: var(--MainColors__HeadFootText);
  background-image: url("../assets/images/topo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: var(--L);
  margin-top: var(--XXXL);
  bottom:0;
  position: relative;
  overflow: hidden;
}

#foot-head{
  text-align: center;
  margin: auto;
  margin-bottom: var(--XL);
  background-color: transparent;
}


  #socials{
    display: flex;
    justify-content: center;
    gap: var(--FXL);
    background-color: var(--MainColors__BrandAccent);
    padding: var(--M);
    border-radius: var(--XS);
    margin: auto;
    width: fit-content;
    font-family: var(--FontFamilyBody);
    font-size: var(--M);
  }
  


/* Mobile Styles ------------------*/

@mobile (max-width: 768px) {
  
  header{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var( --MainColors__Brand);
  color: var(--MainColors__HeadFootText);
  flex-wrap: wrap;
  background-image: url("../assets/images/topo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding:0;
  
}

.main-headings{
  text-align: left;
  padding: var(--S);
  padding-bottom: 0;
}


h1{
  font-family: var(--FontFamilyHeadings);
  font-size: var(--L);
  margin: 0;
}

h2, h3{
  font-family: var(--FontFamilyHeadings);
  font-size: var(--S);
}

h3{
  padding: var(--S);
  padding-left: var(--M);
  padding-right: var(--M);
  width: fit-content;
  background-color: var(--MainColors__Neutrals__DarkModeElementBg);
  border-radius: var(--XS);
}


/* Navigation Styles ------------------*/

nav{
  display: flex;
  flex-wrap: wrap;
  padding: var(--L);
  margin-left: auto;
  width: fit-content;
  gap: var(--S);
  height: fit-content;
}

nav button{
  background-color: var(--MainColors__BrandAccent);
  color: var(--MainColors__HeadFootText);
  border: none;
  padding: var(--S);
  font-size: var(--XS);
  font-family: var(--FontFamilyBody);
  cursor: pointer;
  border-radius: var(--XS);
}


a{
  text-decoration: none;
  color: var(--MainColors__HeadFootText)
}







main{
  margin-left: auto;
  margin-right: auto;
  padding: var(--S);
  max-width: 95%;
}


.page-line{
  border-top: 4px solid var(--MainColors__BrandAccent);
  margin-top: var(--XL);
  margin-bottom: var(--XL);
}


p{
  font-family: var(--FontFamilyBody);
  font-size: var(--XXS);
  line-height: 1.6;
  margin-bottom: var(--S);
}

#bio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: var(--S);
  align-items: flex-start;
}

#bio p{
  width: 90%;
  padding-right: var(--S);
  margin-top: var(--S);
}

.image-me{
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.image-me img{
  width: 30px;
  border-radius: var(--S);
}
/* Project Box Styles ------------------*/


*/
#projects{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--S);
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  
}

.project-box{
  display: contents;
}

.project-box div{
  background-color: var(--MainColors__Neutrals__DarkModeElementBg);
  padding: var(--S);
  border-radius: var(--XS);
  width: fit-content;
  margin-bottom: 0;
  font-size: var(--XS);
  font-family: var(--FontFamilyBody)
  
}



#projects a {
  color: var(--MainColors__BodyText);
}




/* Footer Styles ------------------*/



footer{
  display: block;
  background-color: var( --MainColors__Brand);
  color: var(--MainColors__HeadFootText);
  background-image: url("../assets/images/topo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: var(--S);
  margin-top: var(--XL);
  bottom:0;
  position: relative;
  overflow: hidden;
}

#foot-head{
  text-align: center;
  margin: auto;
  margin-bottom: var(--L);
  background-color: transparent;
}


  #socials{
    display: flex;
    justify-content: center;
    gap: var(--FXL);
    background-color: var(--MainColors__BrandAccent);
    padding: var(--M);
    border-radius: var(--XS);
    margin: auto;
    width: fit-content;
    font-family: var(--FontFamilyBody);
    font-size: var(--S);
  }
}

@media (prefers-reduced-motion: reduce) {
  .fade-in,
  .slide-up,
  .theme-transition {
    transition: none;
    animation: none;
  }
}