@import "../css/variables.css";


/* Font Styles */



.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Main styles */

body{
  display: flex; 
  background-color: var(--Brand__SurfaceColor); 
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: transparent;

}
.dropdown-content.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: fit-content;
  margin: auto;
  padding: 0;
}




/* headings */



h1{
  color: var(--Brand__TextColor);
  font-size: var(--Sizes__2XL);
  margin-bottom: var(--SpacingL);
  font-family: var(--FontFamilyHeading);
}