@import "../css/variables.css";


/* Font Styles */



.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Main styles */

